/*
* ▒▒▒ Setup ▒▒▒
* You should not need to edit this section to pass tests
* borders are provided on all .divs for your viewing purposes
*/

body {
  height: 100%;
  position: relative;
}

html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  position: relative;
  background-color: #353333;
  height: 100%;
}

.container div {
  border: 1px solid #FFFFFF;
}

/*
* ▒▒▒ Your Code Below ▒▒▒
*/

/*
* Square div 200px by 200px
* fixed to the left side of the container
* 200px down from the top;
**/

.fixed-left-position {

}

/*
* Square div 400px by 400px
* Should be fixed to the center of the page
* https://css-tricks.com/centering-css-complete-guide/ might provide
* some tips and tricks
*/
.center-position {

}

/*
* smaller div with maximum width of 150px
* displays flush with the top right corner of the parent
*/

.top-right {

}

/*
* smaller div with maximum width of 150px
* displays flush with bottom left corner of the parent
*/

.bottom-left {

}

.centered-text {

}
