/*Create a full-width button class*/
.button {
  width: 100%;
  display: block;
}

/*Create a class to make fonts bold*/
.bold {
  font-weight: bold;
}

/** Create a class
*   that sets background color to blue
*   do not use the built-in css color names
**/
.blue-background {
  background-color: #0000ff;
}
