/*Create a full-width button class*/
.button {
  width: 100%;
  display: block;
}

/*Create a class to make fonts bold*/
.bold {
  font-weight: bold;
}

/** Create a .blue-background class
*   that sets background color to blue
*   Do not use the 'blue' shorthand
**/
.blue-background {
  background-color: #0000ff
}
